.testamentHeaderTextContainer {
    width: 100%;
}

.testamentHeader {
    transition: background-color 0.5s ease;
    background-color: #1b6184;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d6d6d6;
    padding: 1em;
}

.testamentHeader:hover,.testamentHeader.collapsed:hover {
    background-color: #2f7498;
}

.testamentHeader.collapsed {
    background-color: #419dcc;
}

.testamentHeaderText {
    font-weight: 600;
    margin: 0 0;
    font-size: 20px;
    color: white;
    float: left;
}

.chapter {
    transition: background-color 0.5s ease;
    border-bottom: solid 1px #d6d6d6;
    padding: 0.5em;
}

.chapter:hover {
    background-color: #e1eaef;
    cursor: pointer;
}

.durationBox {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookHeader.collapsed {
    background-color: white;
}

.bookHeader {
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #bbd4e2;
}

.bookHeader:hover {
    background-color: #e1eaef;
    cursor: pointer;
}


.shortIcon {
    transition: 1s;
    float: left;
    background-color: red;
    padding: 4px;
    border-radius: 5px;
    width: 4em;
    height: 4em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4em;
}

.bookHeader:hover .shortIcon {
    box-shadow: 1px 1px 5px grey;
}

.innerIcon {

    display: inline-block;
}

p.shortBook {
    color: white;
    font-weight: 700;
    margin: 0 0;
}

.bookName {
    width: 100%;
}

.bookName:after {
    float: right;
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
    margin-right: 0.5em;
}

.collapsed .bookName:after {
    float: right;
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    float: right;
    color: grey;
    margin-right: 0.5em;
}

p.bookNameText {
    margin: 0 0;
    float: left;
    font-size: 17px;
}

.bookHeader {
    border-bottom: solid 1px #d6d6d6;
}

button.btnPlay {
    transition: 1s;
    float: left;
    background-color: #2375ce;
    border: none;
    color: white;
    margin-right: 10px;
    border-radius: 3px;
}

.chapter:hover button.btnPlay {
    box-shadow: 1px 1px 5px grey;
}

p.book {
    float: left;
    margin: 0 0;
       font-size: 16px;
}

p.duration {
    float: right;
    margin: 0 0;
}

i.fa.fa-clock-o {
    float: right;
    margin-right: 0.3em;
}

.testTab {
    width: 100%;
}

.infoTab {
    width: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    background-color: #2375ce;
    transition: background-color 0.5s ease
}

li.infoTab:hover {
    background-color: #419dcc;
}

li.infoTab.active {
    background-color: #1b6184;
}

ul.nav.nav-tabs {
    display: flex;
}

.nav-tabs>li {
    text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    background-color: #1b6184;
    border: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #419dcc;
}

.infoTab:hover a {
    background-color: #419dcc;
}

.nav-tabs>li a {
    transition: background-color 0.5s ease;
    background-color: #2375ce;
    color: white;
    border: none;
    margin-right: 0;
    padding: 1.5em;
    border-radius: 0 0 0 0;
}

div#stickyMenu {
    position: sticky;
    top: 0;
}


.amplitude-button {
    color:white;
    font-size: 25px;
    margin: 15px;
}

div#single-song-player img[amplitude-song-info="cover_art_url"] {
  width: 90%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
div#single-song-player div.bottom-container {
  background-color: #202136;
}

progress.amplitude-song-played-progress:not([value]) {
  background-color: #313252;
}

progress.amplitude-song-played-progress {
  background-color: #313252;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  display: block;
  cursor: pointer;
  border: none;
}

div#single-song-player div.bottom-container progress[value]::-webkit-progress-bar {
  background-color: #313252;
}

div#single-song-player div.bottom-container progress[value]::-moz-progress-bar {
  background-color: #00a0ff;
}

div#single-song-player div.bottom-container progress[value]::-webkit-progress-value {
  background-color: #00a0ff;
}

div#single-song-player div.bottom-container div.time-container {
  opacity: 0.5;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 12px;
  color: #fff;
  height: 15px;
}
div#single-song-player div.bottom-container div.time-container span.current-time {
  float: left;
  margin-left: 5px;
}
div#single-song-player div.bottom-container div.time-container span.duration {
  float: right;
  margin-right: 5px;
}

div#single-song-player div.bottom-container div.control-container {
  display: flex;
  align-items: center;
  padding:10px;
}

.amplitude-play-pause {
  width: 90px;
  height: 90px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.amplitude-paused {
  background-image: url('assets/images/play.svg');
}

.amplitude-playing {
  background-image: url('assets/images/pause.svg');
}
div#single-song-player div.bottom-container div.control-container div.meta-container {
  float: left;
  width: calc(100% - 84px);
  text-align: center;
  color: white;
  margin-top: 10px;
}
div#single-song-player div.bottom-container div.control-container div.meta-container span[amplitude-song-info="name"] {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  display: block;
}
div#single-song-player div.bottom-container div.control-container div.meta-container span[amplitude-song-info="artist"] {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  display: block;
}
div#single-song-player div.bottom-container div.control-container:after {
  content: "";
  display: table;
  clear: both;
}

div#flat-black-player-container div#player-bottom div#control-container div#next-container {
    width: 20%;
    float: left;
    height: 60px;
    padding-top: 18px;
}