div.chapter {
    border-bottom: solid 1px #d6d6d6;
}

.bookHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shortIcon {
    float: left;
    background-color: red;
    padding: 4px;
    border-radius: 5px;
    width: 4em;
    height: 4em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4em;
}

.innerIcon {

    display: inline-block;
}

p.shortBook {
    color: white;
    font-weight: 700;
    margin: 0 0;
}

.bookName {
    width: 100%;
}

p.bookNameText {
    margin: 0 0;
    float: left;
    font-size: 17px;
}

.bookHeader {
    border-bottom: solid 1px #d6d6d6;
}

button.btnPlay {
    float: left;
    background-color: #2375ce;
    border: none;
    color: white;
    margin-right: 10px;
}

p.book {
    float: left;
    width: 250px;
    margin: 0 0;
}

p.duration {
    float: right;
    margin: 0 0;
}

